{% extends 'base.html' %}
{% block content %}
<div>
    <div style="position: absolute; left:50%;top:50%;transform:translate(-50%,-50%);">
        <div style="display:flex;justify-content:center;align-items:center;flex-direction:column">
            <h1>Your Cart is Empty</h1>
            <small>Add Item in your cart to view</small>
            <br>
            <form method="GET" action="/">
            <input type="submit" value="Continue Shopping"
               class="btn btn-primary" data-bs-toggle="modal"
               class="btn btn-outline-info border rounded col-lg-3 float-right">
            </input>
            </form>
        </div>
    </div>
</div>
{% endblock %}